header {
    text-align: center;
}
header h1 {
    letter-spacing: 3px;
}
header h4 {
    color: rgb(57, 120, 184);
    letter-spacing: 3px;
    margin-bottom: 0;
    font-size: 15px;
}
header hr {
    background-color: rgb(233, 233, 233);
    border: none;
    width: 600px;
    height: 2px;
    margin-top: 4px;
}

main {
    width: 600px;
    margin: 0 auto;
}
#italic {
    font-style: italic;
}

ol li {
    margin: 15px;
}

footer {
    text-align: center;
}
footer img {
    width: 150px;
    margin-top: 30px;
}